body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.img{
   padding-top: 20px;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.forgot-password {
    margin-bottom: 20px;
}

.forgot-password a {
    color: #0066c0;
    text-decoration: none;
}

.signin-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signin-btn:hover {
    background-color: #ff8c00;
}

.create-account {
    text-align: center;
}

.create-account p {
    margin-bottom: 10px;
}

.create-account-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066c0;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.create-account-btn:hover {
    background-color: #0056b3;
}
